# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data/logs/2025-03-15-1.log.gz
/run-data/logs/debug.log
/run-data/logs/debug-1.log.gz
/run-data/config/fml.toml
/run-data/logs/latest.log
